@import '../../styles/mixins.scss';

.quest {
    position: relative;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: var(--surface);
    color: var(--on-surface-variant);
    border: 1px solid var(--on-surface-variant);
    @include elevation(0);

    &.inactive {
        opacity: 0.4;
    }

    &:hover {
        @include elevation(1);
    }

    &__header {
        display: flex;
        align-items: center;
    }
    &__giver {
        margin-right: 1em;
    }
    &__link {
        color: var(--tertiary);
    }
}
