.quest {
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;

    &__header {
        display: flex;
        align-items: center;
    }
    &__link {
        margin-left: 0.5em;
        color: #10a35f;
    }
}
